<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Bottoms </title>
	</head>

	<body>
        <h2>Bottoms</h2>
        <div id="browse" style="display: block">
        <p><strong>Browse Bottoms</strong></p>

        <table id="bottoms">
            <thead>
                <tr>
                    {{#each data.fields}}
                    <th>
                        {{name}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
        
            <tbody>
              {{#each data.rows}}
                <tr>
                    <td>{{this.bottom_id}}</td>
                    <td>{{this.user_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.color}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        <p>&nbsp;</p>
        </div> 
        <div id="insert" style="display: block">
            <form id="addBottom" method="POST" action="/add-item/bottoms">
            <input type="hidden" name="page" value="bottoms">            
                <legend><strong>Add New Bottom</strong></legend>
                <fieldset class="fields">
                    <label> User </label>
                    <select name="addUserID" id="addUserID">
                        <option value="">Select User</option>
                        {{#each users.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Name </label> <input type="text" name="name" placeholder="e.g. levis"><br>
                    <label> Type </label> <input type="text" name="type" placeholder="e.g. jeans"><br>
                    <label> Color </label> <input type="text" name="color" placeholder="e.g. blue"><br>
                </fieldset>
                <input class="btn" type="submit" id="addTop" value="Add New Top">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>

        <p>&nbsp;</p>
        <div id="update" style="display: block">
            <form id="updateBottom" method="POST" action="/update-item/bottoms">
                <input type="hidden" name="page" value="bottoms">
                <legend><strong>Update Bottom</strong></legend>
                <fieldset class="fields">
                    <label>Bottom ID</label>
                    <select name="updateBottomID" id="updateBottomID">
                        <option value="">Select Bottom</option>
                        {{#each data.rows}}
                        <option value="{{this.bottom_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label> User </label>
                    <select name="updateUserID" id="updateUserID">
                        <option value="">Select User</option>
                        {{#each users.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Name </label> <input type="text" name="name" placeholder="e.g. levis"><br>
                    <label> Type </label> <input type="text" name="type" placeholder="e.g. jeans"><br>
                    <label> Color </label> <input type="text" name="color" placeholder="e.g. blue"><br>
                </fieldset>
                <input class="btn" type="submit" id="UpdateTop" value="Update Bottom">
                    <input class="btn" type="button" value="cancel" >
            </form> 
        </div>

        <p>&nbsp;</p>
        <div id="delete" style="display: block">
        <form id="deleteBottomID" method="POST" action="/delete-item/bottoms">
            <input type="hidden" name="page" value="bottoms">
            <legend><strong>Delete Bottom</strong></legend>
                <fieldset class="fields">
                <label>Select the item you wouldl ike to delete</label>
                <select name="deleteBottomID" id="deleteBottomID">
                    <option value="">Select Bottom</option>
                    {{#each data.rows}}
                    <option value="{{this.bottom_id}}">{{this.name}}</option>
                    {{/each}}
                </select><br>
                    
            </fieldset>
            <input class="btn" type="submit" id="DeleteBottom" value="Delete Bottom">
                <input class="btn" type="button" value="cancel" >
        </form> 
        </div>
	</body>
</html>

<script>
    function populateBottomInfo(bottomId) {
        fetch(`/bottoms/${bottomId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error fetching user data");
                }
                return response.json();
            })
            .then(bottomData => {
                // Populate the input fields with the fetched user data
                document.getElementById("name").value = bottomData.name;
                document.getElementById("type").value = bottomData.type;
                document.getElementById("color").value = bottomData.color;
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }

    // Update the onchange event handler of the select element
    document.getElementById("updateBottomID").addEventListener("change", function() {
        var selectedBottomId = this.value; // Get the selected bottom ID
        if (selectedBottomId) { /
            populateBottomInfo(selectedBottomId); // Call populateBottomInfo with the selected bottom ID
        } else {
            // Clear the input fields if no bottom is selected
            document.getElementById("name").value = "";
            document.getElementById("type").value = "";
            document.getElementById("color").value = "";
        }
    });
</script>

