<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Occasions </title>
	</head>

	<body>

        <H2>Occasions</H2>

        <div id="browse" style="display: block">
        <p><strong>Browse Occasions</strong></p>

        <table id="occasions">
            <thead>
                <tr>
                    {{#each data.fields}}
                    <th>
                        {{name}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
        
            <tbody>
              {{#each data.rows}}
                <tr>
                    <td>{{this.occasion_id}}</td>
                    <td>{{this.user_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.formality}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p>&nbsp;</p>
        </div> 
        <div id="insert" style="display: block">
            <form id="addOccasion" method="POST" action="add-item/occasions">
            <input type="hidden" name="page" value="occasions">
                <legend><strong>Add New Occasion</strong></legend>
                <fieldset class="fields">
                    <label> User </label>
                    <select name="addUserID" id="addUserID">
                        <option value="">Select User</option>
                        {{#each users.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Name </label> <input type="text" name="name" placeholder="e.g. family gathering"><br>
                    <label> Formality </label> <input type="text" name="formality" placeholder="e.g. casual"><br>
                </fieldset>
                <input class="btn" type="submit" id="addOccasion" value="Add New Occasion">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>

        <p>&nbsp;</p>
        <div id="update" style="display: block">
            <form id="updateOccasion" method="POST" action="/update-item/occasions">
                <input type="hidden" name="page" value="occasions">
                <legend><strong>Update Occasion</strong></legend>
                <fieldset class="fields">
                    <label>Occasion ID</label>
                    <select name="updateOccasionID" id="updateOccasionID">
                        <option value="">Select Occasion</option>
                        {{#each data.rows}}
                        <option value="{{this.occasion_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label> User </label>
                    <select name="userId" id="userId">
                        <option value="">Select User</option>
                        {{#each users.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Name </label> <input type="text" id="name" name="name" placeholder="e.g. family gathering"><br>
                    <label> Formality </label> <input type="text" id="formality" name="formality" placeholder="e.g. casual"><br>
                </fieldset>
                <input class="btn" type="submit" id="updateOccasion" value="Update Occasion">
                    <input class="btn" type="button" value="cancel" >
            </form> 
        </div>

        <p>&nbsp;</p>
        <div id="delete" style="display: block">
        <form id="deleteOccasion" method="POST" action="/delete-item/occasions">
        <input type="hidden" name="page" value="occasions">
            <legend><strong>Delete Accessory</strong></legend>
                <fieldset class="fields">
                <label>Select the Occasion you would like to delete</label>
                <select name="deleteOccasionID" id="deleteOccasionID">
                    <option value="">Select Occasion</option>
                    {{#each data.rows}}
                    <option value="{{this.occasion_id}}">{{this.name}}</option>
                    {{/each}}
                </select><br>               
            </fieldset>
            <input class="btn" type="submit" id="deleteOccasionID" value="Delete Occasion">
                <input class="btn" type="button" value="cancel">
        </form> 
        </div>
	</body>
</html>

<script>
    function populateOccasionInfo(occasionId) {
    fetch(`/occasions/${occasionId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error("Error fetching occasion data");
            }
            return response.json();
        })
        .then(occasionData => {
            // Populate the input fields with the fetched occasion data
            document.getElementById("userId").value = occasionData.user_id;
            document.getElementById("name").value = occasionData.name;
            document.getElementById("formality").value = occasionData.formality;
        })
        .catch(error => {
            console.error("Error:", error);
        });
}

// Update the onchange event handler of the select element
document.getElementById("updateOccasionID").addEventListener("change", function() {
    var selectedOccasionId = this.value; // Get the selected occasion ID
    if (selectedOccasionId) { // Ensure an occasion is selected
        populateOccasionInfo(selectedOccasionId); // Call populateOccasionInfo with the selected ID
    } else {
        // Clear the input fields if no occasion is selected
        document.getElementById("userId").value = "";
        document.getElementById("name").value = "";
        document.getElementById("formality").value = "";
    }
});

</script>