<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Outfits-Accessories </title>
	</head>

	<body>

        <H2>Outfits with Accessories</H2>

        <div id="browse" style="display: block">

        <table id="outfitAccessories">
            <thead>
                <tr>
                    <th>Outfit</th>
                    <th>Accessory</th>
                </tr>
            </thead>
        
            <tbody>
              {{#each data.rows}}
                <tr>
                    <td>{{this.outfit}}</td>
                    <td>{{this.accessory}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p>&nbsp;</p>
        </div> 
        <div id="insert" style="display: block">
            <form id="addOutfitAccessory" method="POST" action="/add-item/outfitsAccessories">
            <input type="hidden" name="page" value="outfitsAccessories">
                <legend><strong>Add New Outfit with Accessory</strong></legend>
                <fieldset class="fields">
                    <label> Outfit </label>
                    <select name="addOutfitID" id="addOutfitID">
                        <option value="">Select Outfit</option>
                        {{#each outfits.rows}}
                        <option value="{{this.outfit_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Accessory </label>
                    <select name="addAccessoryID" id="updateAccessoryID">
                         <option value="">Select Accessory</option>
                        {{#each accessories.rows}} 
                        <option value="{{this.accessory_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                </fieldset>
                <input class="btn" type="submit" id="addOutfitAccessory" value="Create New Outfit Accessory Pair">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>

        <p>&nbsp;</p>
        <div id="update" style="display: block">
            <form id="updateOutfitAccessory" method="POST" action="update-item/outfitsAccessories">
                <legend><strong>Update Outfit Accessory Pair</strong></legend>
                <fieldset class="fields">
                    <label>Outfit-Accessory ID</label>
                    <select name="updateOutfitAccID" id="updateOutfitAccID">
                        <option value="">Outfit Accessory Pair</option> 
                        {{#each data.rows}}
                        <option value="{{this.outfit_acc_id}}">{{this.outfit}} - {{this.accessory}}</option>
                        {{/each}}
                    </select><br> 
                    <label> Outfit </label>
                    <select name="outfitId" id="outfitId">
                        <option value="">Select Outfit</option>
                        {{#each outfits.rows}}
                        <option value="{{this.outfit_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Accessory </label>
                    <select name="accessoryId" id="accessoryId">
                        <option value="">Select Accessory</option>
                        {{#each accessories.rows}} 
                        <option value="{{this.accessory_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                </fieldset>
                <input class="btn" type="submit" id="updateOutfitAccessory" value="Update Outfit Accessory Pair">
                    <input class="btn" type="button" value="cancel" >
            </form> 
        </div>

        <p>&nbsp;</p>
        <div id="delete" style="display: block">
            <form id="deleteOutfitAccID" method="POST" action="/delete-item/outfitsAccessories">
                <input type="hidden" name="page" value="outfitsAccessories">
                <legend><strong>Delete Outfit Accessory Pair</strong></legend>
                <fieldset class="fields">
                    <label>Select the outfit-accessory pair ID you wish to delete</label>
                    <select name="deleteOutfitAccID" id="deleteOutfitAccID">
                        <option value="">Select Outfit Accessory Combination</option>
                        {{#each data.rows}}
                        <option value="{{this.outfit_acc_id}}">{{this.outfit}} - {{this.accessory}}</option>
                        {{/each}}
                    </select><br>              
                </fieldset>
                <input class="btn" type="submit" id="deleteOutfitAccessory" value="Delete Outfit Accessory Combination">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>
	</body>
</html>


<script>
    function populateOutfitAccInfo(outfitAccId) {
    fetch(`/outfitsAccessories/${outfitAccId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error("Error fetching outfit-accessory data");
            }
            return response.json();
        })
        .then(outfitAccData => {
            // Populate the input fields with the fetched outfit-accessory data
            document.getElementById("outfitId").value = outfitAccData.outfit_id;
            document.getElementById("accessoryId").value = outfitAccData.accessory_id;
        })
        .catch(error => {
            console.error("Error:", error);
        });
}

// Update the onchange event handler of the select element
document.getElementById("updateOutfitAccID").addEventListener("change", function() {
    var selectedOutfitAccId = this.value; // Get the selected ID
    if (selectedOutfitAccId) { // Ensure an outfit-accessory pair is selected
        populateOutfitAccInfo(selectedOutfitAccId); // Call populateOutfitAccInfo with the selected ID
    } else {
        // Clear the input fields if no top is selected
        document.getElementById("outfitId").value = "";
        document.getElementById("accessoryId").value = "";
    }
});

</script>