<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> outfits </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	</head>

	<body>
        <h2>Outfits</h2>
        <div id="browse" style="display: block">
        <p><strong>Browse Outfits</strong></p>
	        <form id="searchOutfit">
                <input type="text" name="name">
                <input class="btn" type="submit" id="searchOutfit" value="search"><br>
        </form>
        <table id="outfits">
            <thead>
                <tr>
                    {{#each data.fields}}
                    <th>
                        {{name}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
        
            <tbody>
              {{#each data.rows}}
                <tr>
                    <td>{{this.outfit_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.tops}}</td>
                    <td>{{this.bottoms}}</td>
                    <td>{{this.shoes}}</td>
                    <td>{{this.jackets}}</td>
                    <td>{{this.formality}}</td>
                    <td>{{moment this.last_worn "MM/DD/YYYY"}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p>&nbsp;</p>
        </div> 
        <div id="insert" style="display: block">
            <form id="addOutfit" method="POST" action="/add-item/outfits">
            <input type="hidden" name="page" value="outfits">
                <legend><strong>Add New Outfit</strong></legend>
                <fieldset class="fields">
                    <label for="input-name"> Name </label> 
                    <input type="text" name="name" placeholder="e.g. business suit"><br>
                    
                    <label for="input-topID"> Top </label>
                    <select name="topID" id="topID">
                        <option value="">Select Top</option>
                        {{#each tops.rows}}
                        <option value="{{this.top_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label for="input-bottomID"> Bottom </label>
                    <select name="bottomID" id="bottomID">
                        <option value="">Select Bottoms</option>
                        {{#each bottoms.rows}}
                        <option value="{{this.bottom_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label for="input-shoeID"> Shoes </label>
                    <select name="shoeID" id="shoeID">
                        <option value="">Select Shoes</option>
                        {{#each shoes.rows}}
                        <option value="{{this.shoe_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label> Jackets </label>
                    <select name="jacketID" id="jacketID">
                        <option value="NULL">Select a Jacket</option>
                        {{#each jackets.rows}}
                        <option value="{{this.jacket_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label for="input-formality"> Formality </label> 
                    <input type="text" name="formality" placeholder="e.g. business casual"><br>
                    <label> Last Worn </label> <input type="date" name="lastWorn"><br>
                </fieldset>
                <input class="btn" type="submit" id="addOutfit" value="Add New Outfit">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>

        <p>&nbsp;</p>
        <div id="update" style="display: block">
            <form id="updateOutfit" method="POST" action="/update-item/outfits">
                <input type="hidden" name="page" value="outfits">
                <legend><strong>Update Outfit</strong></legend>
                <fieldset class="fields">
                    <label>Outfit ID</label>
                    <select name="updateOutfitID" id="updateOutfitID">
                        <option value="">Select Outfit</option>
                        {{#each data.rows}}
                        <option value="{{this.outfit_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label for="input-name"> Name </label> 
                    <input type="text" id="updateName" name="updateName" placeholder="e.g. business suit"><br>
                    
                    <label> Top </label>
                    <select name="updateTopID" id="updateTopID">
                        <option value="">Select Top</option>
                        {{#each tops.rows}}
                        <option value="{{this.top_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label> Bottom </label>
                    <select name="updateBottomID" id="updateBottomID">
                        <option value="">Select Bottoms</option>
                        {{#each bottoms.rows}}
                        <option value="{{this.bottom_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label> Shoes </label>
                    <select name="updateShoeID" id="updateShoeID">
                        <option value="">Select Shoes</option>
                        {{#each shoes.rows}}
                        <option value="{{this.shoe_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Jackets </label>
                    <select name="updateJacketID" id="updateJacketID">
                        <option value="NULL">Select a Jacket</option>
                        {{#each jackets.rows}}
                        <option value="{{this.jacket_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>

                    <label for="input-formality"> Formality </label> 
                    <input type="text" id="updateFormality" name="updateFormality" placeholder="e.g. business casual"><br>
            
                    <label> Last Worn </label> <input type="date" id="updateLastWorn" name="updateLastWorn"><br>
                </fieldset>
                <input class="btn" type="submit" id="updateOutfit" value="Update Outfit">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>

        <p>&nbsp;</p>
        <div id="delete" style="display: block">
        <form id="deleteOutfit" method="POST" action="/delete-item/outfits">
            <input type="hidden" name="page" value="outfits">
            <legend><strong>Delete Outfit</strong></legend>
                <fieldset class="fields">
                <label>Select the outfit you would like to delete</label>
                <select name="deleteOutfitID" id="deleteOutfitID">
                    <option value="">Select Outfit</option>
                    {{#each data.rows}}
                    <option value="{{this.outfit_id}}">{{this.name}}</option>
                    {{/each}}
                </select><br>
                    
            </fieldset>
            <input class="btn" type="submit" id="DeleteOutfit" value="Delete Outfit">
            <input class="btn" type="button" value="cancel" >
        </form> 
        </div>
	</body>
</html>

<script>
    function populateOutfitInfo(outfitId) {
    fetch(`/outfits/${outfitId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error("Error fetching outfit data");
            }
            return response.json();
        })
        .then(outfitData => {
            // Format the date
            const formattedDate = moment(outfitData.last_worn).format('YYYY-MM-DD');

            // Populate the input fields with the fetched outfit data
            document.getElementById("updateName").value = outfitData.name;
            document.getElementById("updateTopID").value = outfitData.top_id;
            document.getElementById("updateBottomID").value = outfitData.bottom_id;
            document.getElementById("updateShoeID").value = outfitData.shoe_id;
            document.getElementById("updateJacketID").value = outfitData.jacket_id;
            document.getElementById("updateFormality").value = outfitData.formality;
            document.getElementById("updateLastWorn").value = formattedDate;
        })
        .catch(error => {
            console.error("Error:", error);
        });
}

// Update the onchange event handler of the select element
document.getElementById("updateOutfitID").addEventListener("change", function() {
    var selectedOutfitId = this.value;          // Get the selected outfit ID
    if (selectedOutfitId) {                     // Ensure an outfit is selected
        populateOutfitInfo(selectedOutfitId);   // Call populateOutfitInfo with the selected outfit ID
    } else {
        // Clear the input fields if no outfit is selected
            document.getElementById("updateName").value = "";
            document.getElementById("updateTopID").value = "";
            document.getElementById("updateBottomID").value = "";
            document.getElementById("updateShoeID").value = "";
            document.getElementById("updateJacketID").value = "";
            document.getElementById("updateFormality").value = "";
            document.getElementById("updateLastWorn").value = "";
    }
});

</script>

