<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title> Shoes </title>
	</head>

	<body>
        <h2>Shoes</h2>
        <div id="browse" style="display: block">
        <p><strong>Browse Shoes</strong></p>

        <table id="shoes">
            <thead>
                <tr>
                    {{#each data.fields}}
                    <th>
                        {{name}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
        
            <tbody>
              {{#each data.rows}}
                <tr>
                    <td>{{this.shoe_id}}</td>
                    <td>{{this.user_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.color}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>&nbsp;</p>
        </div> 
        <div id="insert" style="display: block">
            <form id="addShoe" method="POST" action="/add-item/shoes">
            <input type="hidden" name="page" value="shoes">
                <legend><strong>Add New Shoe</strong></legend>
                <fieldset class="fields">
                    <label> User </label>
                    <select name="addUserID" id="addUserID">
                        <option value="">Select User</option>
                        {{#each users.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Name </label> <input type="text" name="name" placeholder="e.g. air force 1s"><br>
                    <label> Type </label> <input type="text" name="type" placeholder="e.g. sneaker"><br>
                    <label> Color </label> <input type="text" name="color" placeholder="e.g. white"><br>
                </fieldset>
                <input class="btn" type="submit" id="addShoe" value="Add New Shoe">
                <input class="btn" type="button" value="cancel">
            </form>
        </div>

        <p>&nbsp;</p>
        <div id="update" style="display: block">
            <form id="updateShoe">
                <legend><strong>Update Shoe</strong></legend>
                <fieldset class="fields">
                    <label>Shoe ID</label>
                    <select name="updateShoeID" id="updateShoeID">
                        {{#each data.rows}}
                        <option value="{{this.shoe_id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br>
                    <label> User </label>
                    <select name="updateUserID" id="updateUserID">
                        {{#each users.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label> Name </label> <input type="text" name="name" placeholder="e.g. air force 1s"><br>
                    <label> Type </label> <input type="text" name="type" placeholder="e.g. sneaker"><br>
                    <label> Color </label> <input type="text" name="color" placeholder="e.g. white"><br>
                </fieldset>
                <input class="btn" type="submit" id="UpdateShoe" value="Update Shoe">
                    <input class="btn" type="button" value="cancel" >
            </form> 
        </div>

        <p>&nbsp;</p>
        <div id="delete" style="display: block">
        <form id="deleteShoeId" method="POST" action="/delete-item/shoes">
            <input type="hidden" name="page" value="shoes">
            <legend><strong>Delete Shoe</strong></legend>
                <fieldset class="fields">
                <label>Select the shoes you would like to delete</label>
                <select name="deleteShoeID" id="deleteShoeID">
                    <option value="">Select Shoe</option>
                    {{#each data.rows}}
                    <option value="{{this.shoe_id}}">{{this.name}}</option>
                    {{/each}}
                </select><br>
                    
            </fieldset>
            <input class="btn" type="submit" id="DeleteShoe" value="Delete Shoe">
                <input class="btn" type="button" value="cancel" >
        </form> 
        </div>
	</body>
</html>
