<!--
// INFO
	Developers: Calista Dominitz and Matthew Beitler
	Project: Personal outfit manager
    Class: CS 340

// Citation
    Citation for html structure / style
    Date: 8/13/2023
    Based on: https://github.com/osu-cs340-ecampus/nodejs-starter-app
    Type: source code
    Authors (github usernames):
        gkochera
        Cortona1
        currym-osu
        dmgs11
-->
<!DOCTYPE html>


<html>
	<head>
		<meta charset="utf-8">
		<title> Users </title>
	</head>

	<body>
        <h2>Users</h2>
        <table id="users">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody id="table_data">
            {{#each data.rows}}
                <tr>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.email}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <form id="addUser" method="POST" action="/add-item/users">
            <input type="hidden" name="page" value="users">
            <legend><strong>Add User</strong></legend>
            <fieldset class="fields">
                <p>To add a new person, please enter their information below and click 'Submit'!</p>
                <label for="input-firstName"> First Name </label> 
                <input type="text" name="firstName" placeholder="e.g. John"><br>

                <label for="input-lastName"> Last Name </label> 
                <input type="text" name="lastName" placeholder="e.g. Doe"><br>

                <label for="input-email"> Email </label> 
                <input type="text" name="email" placeholder="e.g. JohnDoe@gmail.com"><br>

                <label for="input-password"> Password </label> 
                <input type="text" name="password" placeholder="e.g. 12345"><br>

            </fieldset>
            <input class="btn" type="submit" id="addUser" value="Add New User">
            <input class="btn" type="button" value="cancel">
        </form>

        <p>&nbsp;</p>
        <div id="update" style="display: block">
            <form id="updateUser" method="POST" action="/update-item/users">
                <input type="hidden" name="page" value="users">
                <legend><strong>Update User</strong></legend>
                <fieldset class="fields">
                    <label>User ID</label>
                    <p>Select the user you wish to update</p>
                    <select name="updateUserID" id="updateUserID">
                        <option value="">Select a User</option>
                        {{#each data.rows}}
                        <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                        {{/each}}
                    </select><br>
                    <label for="firstName"> First Name </label> 
                    <input type="text" id="firstName" name="firstName" placeholder="e.g. John"><br>

                    <label for="lastName"> Last Name </label> 
                    <input type="text" id="lastName" name="lastName" placeholder="e.g. Doe"><br>

                    <label for="email"> Email </label> 
                    <input type="text" id="email" name="email" placeholder="e.g. JohnDoe@gmail.com"><br>

                    <label for="password"> Password </label> 
                    <input type="text" id="password" name="password" placeholder="e.g. 12345"><br>
                </fieldset>
                <input class="btn" type="submit" id="updateUser" value="Update User">
                <input class="btn" type="button" value="cancel" >
            </form> 
        </div>

        <p>&nbsp;</p>
        <div id="delete" style="display: block">
            <form id="deleteUserID" method="POST" action="/delete-item/users">
            <input type="hidden" name="page" value="users">
            <legend><strong>Delete User</strong></legend>
                <fieldset class="fields">
                <p>Select the user you wish to delete</p>
                <select name="deleteUserID" id="deleteUserID">
                    <option value="">Select User</option>
                    {{#each data.rows}}
                    <option value="{{this.user_id}}">{{this.first_name}} {{this.last_name}}</option>
                    {{/each}}
                </select>
                    
            </fieldset>
            <input class="btn" type="submit" id="deleteUserID" value="Delete User">
            <input class="btn" type="button" value="cancel" >
        </form> 
        </div>
    </body>
</html>

<script>
    function populateUserInfo(userId) {
        fetch(`/users/${userId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error fetching user data");
                }
                return response.json();
            })
            .then(userData => {
                // Populate the input fields with the fetched user data
                document.getElementById("firstName").value = userData.first_name;
                document.getElementById("lastName").value = userData.last_name;
                document.getElementById("email").value = userData.email;
                document.getElementById("password").value = userData.password;
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }

    // Update the onchange event handler of the select element
    document.getElementById("updateUserID").addEventListener("change", function() {
        var selectedUserId = this.value; // Get the selected user ID
        if (selectedUserId) { // Ensure a user is selected
            populateUserInfo(selectedUserId); // Call populateUserInfo with the selected userId
        } else {
            // Clear the input fields if no user is selected
            document.getElementById("firstName").value = "";
            document.getElementById("lastName").value = "";
            document.getElementById("email").value = "";
            document.getElementById("password").value = "";
        }
    });
</script>
